.images-map-content {
  padding: 50px 2%;
}
.images-map-content img {
  width: 100%;
}
.images-map-content .crop-box {
  display: flex;
  margin-bottom: 20px;
}

.images-map-content .crop-box .ReactCrop .ReactCrop__image {
  opacity: 1 !important;
}
.images-map-content .crop-box .ReactCrop .ReactCrop__crop-selection {
  box-shadow: inset 0 0 0 9999em rgba(0, 0, 0, 0.5) !important;
  z-index: 99;
  overflow: hidden;
}
.images-map-content .crop-box .ReactCrop .ReactCrop__crop-selection::before {
  content: 'double click to add map';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  margin: 0 auto;
  font-size: 50%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.images-map-content .map-box .map-box-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.images-map-content .map-box .map-box-img .crop-item::before {
  content: '';
  box-shadow: inset 0 0 0 9999em rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
.images-map-content .map-area {
  display: flex;
  width: 98%;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.images-map-content .map-area .title {
  margin-right: 20px;
}
.images-map-content .map-area .setting-box {
  display: flex;
  flex-wrap: wrap;
}
.images-map-content .map-area .setting-box .setting-box-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.images-map-content .map-area .setting-box .setting-box-item label {
  margin: 5px;
  text-align: right;
}
.images-map-content .map-area .setting-box .setting-box-item input {
  display: block;
  font-size: 14px;
  color: #000;
  height: 30px;
  width: 100px;
  padding: 0 10px;
  border-radius: 4px;
  line-height: 1.5;
  border: 1px solid #d9d9d9;
  overflow: visible;
}
.images-map-content .map-area .icon-sub {
  margin-left: 10px;
}
.images-map-content .opt-box {
  display: flex;
  margin-bottom: 10px;
  width: 98%;
  padding: 10px;
}
.images-map-content .opt-box .opt-box-btn {
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 1px 3px #c1b1b1;
  color: #1A1A1A;
  border: none;
  position: relative;
}
.images-map-content .opt-box .opt-box-btn:hover {
  background: #ceb7b7;
  color: #1A1A1A;
  border: none;
}
.images-map-content .opt-box .opt-box-btn .picker-image {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.images-map-content textarea {
  width: 98%;
  height: 200px;
  margin: 0 auto;
  padding: 5px;
  display: block;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #d9d9d9;
}
.images-map-content h3 {
  margin-top: 30px;
  padding: 10px;
  width: 98%;
}
.images-map-content .help-btn {
  position: fixed;
  right: 5%;
  bottom: 10%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  background: #a05f5f;
  border: 0;
  box-shadow: 0px 0px 2px 2px #c1b1b1;
}
