:root {
    --dark-green: hsl(147, 26%, 27%);
    --green: hsl(148, 26%, 48%);
    --light-green: hsl(149, 34%, 88%);
    --white: hsl(0, 0%, 100%);
    --space: 20px;
    --color: hsl(0, 0%, 20%);
    --color-focus: hsl(0, 0%, 50%);
    --transition: all 0.2s ease-out;
  }
  
  .validation-box {
    padding: var(--space);
    background: var(--dark-green);
    margin-bottom: var(--space);
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.12);
    list-style: none;
    font-size: 0.875em;
    font-weight: 600;
    color: var(--white);
  }
  
  .validation-item {
    position: relative;
    padding-left: calc(var(--space) + 8px);
  }
  
  .validation-item:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .validation-item.done {
    color: hsla(0, 0%, 100%, 40%);
  }
  
  .validation-icon {
    position: absolute;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    left: 0px;
  }
  
  .check {
    stroke-dasharray: 45;
    stroke-dashoffset: 45;
    animation: check 0.2s 0.1s ease-in-out forwards;
  }
  
  @keyframes check {
    0% {
      stroke-dashoffset: 45;
    }
    100% {
      stroke-dashoffset: 20;
    }
  }
  
  @media only screen and (max-height: 320px) {
    .validation-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .validation-item {
      width: 40%;
    }
  }