<style>
  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    font-size: 18px;
    max-width: 600px;
    padding: 0 30px;
  }

  .title {
    background: #879296;
    color: #fff;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
  }

  .reset-password-button {
    border: 0;
    background: #56CF73;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
</style>

<div class="message-container">
  <div class="message-content">
    <h3 class="title">
      Proshop - Reset Password
    </h3>
    <p>Olá, {{name}}.</p>
    <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
    <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
    <p>
      <a href="{{link}}"><button class="reset-password-button">
          Resetar minha senha
        </button></a>
    </p>
    <p>Se não foi você, então descarte esse email.</p>
    <p>
      Obrigado!<br />
      <strong>Equipe PROSHOP</strong>
    </p>
  </div>
</div>