#mkdn {
    width:60vw;
 }

@media screen and (max-width: 768px) {
 #mkdn {
    width:80vw;
 }
}

@media screen and (max-width: 512px) {
    #mkdn {
    width:80vw;
 }
}
/* #dis {
    width:60vw;
    border-style: "solid";
    word-wrap: "break-word"
 }

@media screen and (max-width: 768px) {
 #dis {
    width:80vw;
    border-style: "solid";
    word-wrap: "break-word"
 }
}

@media screen and (max-width: 512px) {
    #dis {
    width:80vw;
    border-style: "solid";
    word-wrap: "break-word"
 }
} */